@{
    ViewData["Title"] = "Pengeluaran Harian";
    ViewData["Header"] = "Pengeluaran Harian";
}
@model List<Pengeluaran_harian>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-end">
                        <a asp-controller="pengeluaran" asp-action="tambah" class="btn btn-primary btn-round ms-auto">
                            <i class="fa fa-plus"></i>
                            Tambah
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Harga</th>
                                    <th scope="col">Jumlah</th>
                                    <th scope="col">Tanggal</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if(Model != null && Model.Count > 0) {
                                    int n = 1;
                                    @foreach(var i in Model){
                                        <tr>
                                            <td>@n</td>
                                            <td>@i.Nama</td>
                                            <td>@i.Harga</td>
                                            <td>@i.Jumlah</td>
                                            <td>@i.Created_at</td>
                                        </tr>
                                        n++;
                                    }
                                }else{
                                    <tr>
                                        <td colspan="4" class="text-center">Tidak ada Pengeluaran</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    flatpickr("#customDateInput", {
        dateFormat: "Y-m-d",
        placeholder: ""
    });
</script>