@{
    ViewData["Title"] = "Info Pengeluaran";
    ViewData["Header"] = "Beli Bahan";
}
@model List<Pengeluaran_harian>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <div class="btn btn-primary btn-round ms-auto" id="addbtn">
                            <i class="fa fa-plus"></i>
                            Tambah Input
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form asp-action="tambah" method="post">
                        <div class="row">
                            <div class="col-12" id="input-group">
                                <div class="form-group p-3 border border-1 rounded-2 mb-3">
                                    <div class="d-flex justify-content-between">
                                        <h3>Bahan</h3>
                                    </div>
                                    <label asp-for="@Model[0].Nama">Nama Bahan</label>
                                    <input type="text" class="form-control" asp-for="@Model[0].Nama"
                                        placeholder="Nama Bahan" />
                                    <span asp-validation-for="@Model[0].Nama" class="text-danger"></span>
                                    <label asp-for="@Model[0].Jumlah">Jumlah</label>
                                    <input type="number" class="form-control" asp-for="@Model[0].Jumlah"
                                        placeholder="Jumlah Bahan" />
                                    <span asp-validation-for="@Model[0].Jumlah" class="text-danger"></span>
                                    <label asp-for="@Model[0].Harga">Harga</label>
                                    <input type="number" class="form-control" asp-for="@Model[0].Harga"
                                        placeholder="Harga Bahan" />
                                    <span asp-validation-for="@Model[0].Harga" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 pt-2">
                                <div class="d-flex flex-row-reverse">
                                    <a asp-controller="infobahan" asp-action="index"
                                        class="btn btn-primary btn-round ms-1">
                                        Kembali
                                    </a>
                                    <button class="btn btn-primary btn-round ms-1" type="submit">
                                        Tambah Bahan
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let dataCount = 1;
    const input_group = document.getElementById("input-group");
    const addbtn = document.getElementById("addbtn");
    function addForm() {
        const addrow = `<div class="form-group p-3 border border-1 rounded-2 mb-3">
                                            <div class="d-flex justify-content-between">
                                                <h3>Bahan</h3>
                                                    <a
                                      class="btn btn-danger rounded-4 ms-2 remove-btn"
                                    >
                                      <i class="fas fa-times"></i>
                                    </a>
                                            </div>
                                            <label>Nama Bahan</label>
                                            <input type="text"
                                                   class="form-control"
                                                       name="bahan[${dataCount}].Nama"
                                                   placeholder="Nama Bahan" />
                                            <label>Jumlah</label>
                                            <input type="number"
                                                   class="form-control"
                                                   name="bahan[${dataCount}].Jumlah"
                                                   placeholder="Jumlah Bahan" />
                                            <label>Harga</label>
                                            <input type="number"
                                                   class="form-control"
                                                      name="bahan[${dataCount}].Harga"
                                                   placeholder="Harga Bahan" />
                                        </div>`;
        input_group.insertAdjacentHTML("beforeend", addrow);
        dataCount++;
    }
    input_group.addEventListener("click", function (e) {
        if (
            e.target.classList.contains("remove-btn") ||
            e.target.closest(".remove-btn")
        ) {
            const formGroup = e.target.closest(".form-group");
            if (formGroup) {
                dataCount--;
                formGroup.remove()
            };
        }
    });
    addbtn.addEventListener("click", addForm);

</script>
