<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewData["Title"]</title>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
    <!-- <link rel="icon" href="" type="image/x-icon" /> -->
    <!-- Fonts and icons -->
    <script src="~/assets/js/webfont/webfont.min.js"></script>
    <!--   Core JS Files   -->
    <script src="~/assets/js/core/jquery-3.7.1.min.js"></script>
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/assets/js/chart.js/chart.min.js"></script>
    <script src="~/assets/js/jquery.sparkline/jquery.sparkline.min.js"></script>
    <script src="~/assets/js/chart-circle/circles.min.js"></script>
    <script src="~/assets/js/datatables/datatables.min.js"></script>
    <script src="~/assets/js/bootstrap-notify/bootstrap-notify.min.js"></script>
    <script src="~/assets/js/jsvectormap/jsvectormap.min.js"></script>
    <script src="~/assets/js/jsvectormap/world.js"></script>
    <script src="~/assets/js/sweetalert/sweetalert.min.js"></script>
    <script src="~/assets/js/kaiadmin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        WebFont.load({
            google: { families: ["Public Sans:300,400,500,600,700"] },
            custom: {
                families: [
                    "Font Awesome 5 Solid",
                    "Font Awesome 5 Regular",
                    "Font Awesome 5 Brands",
                    "simple-line-icons",
                ],
                urls: ["@Url.Content("~/assets/css/fonts.min.css")"],
            },
            active: function () {
                sessionStorage.fonts = true;
            },
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/plugins.min.css" />
    <link rel="stylesheet" href="~/assets/css/kaiadmin.min.css" />
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <div class="sidebar sidebar-style-2" data-background-color="dark">
            <div class="sidebar-logo">
                <!-- Logo Header -->
                <div class="logo-header" data-background-color="dark">
                    <a href="index.html">
                        <img src="~/assets/img/Toko.png" alt="navbar brand" class="navbar-brand" height="20" />
                    </a>
                </div>
                <!-- End Logo Header -->
            </div>
            <div class="sidebar-wrapper scrollbar scrollbar-inner">
                <div class="sidebar-content">
                    <ul class="nav nav-secondary">
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="index">
                                <i class="fas fa-folder"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="bahan" asp-action="index">
                                <i class="fas fa-folder"></i>
                                <p>Bahan</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a data-bs-toggle="collapse" class="collapsed" aria-expanded="false" href="#pengeluaran">
                                <i class="fas fa-folder"></i>
                                <p>Pengeluaran</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="pengeluaran">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a asp-controller="pengeluaran" asp-action="index">
                                            <span class="sub-item">Pengeluaran Harian</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="pengeluaran" asp-action="pengeluaranbulanan">
                                            <span class="sub-item">Pengeluaran Bulanan</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a data-bs-toggle="collapse" class="collapsed" aria-expanded="false" href="#pemasukkan">
                                <i class="fas fa-folder"></i>
                                <p>Pemasukkan</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="pemasukkan">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a asp-controller="pemasukan" asp-action="index">
                                            <span class="sub-item">Pemasukkan Harian</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="pemasukan" asp-action="PemasukanBulanan">
                                            <span class="sub-item">Pemasukkan Bulanan</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->
        <div class="main-panel">
            <div class="main-header">
                <div class="main-header-logo">
                    <!-- Logo Header -->
                    <div class="logo-header" data-background-color="dark">
                        <a href="index.html" class="logo">
                            <img src="" alt="navbar brand" class="navbar-brand" height="20" />
                        </a>
                        <div class="nav-toggle">
                            <button class="btn btn-toggle toggle-sidebar">
                                <i class="gg-menu-right"></i>
                            </button>
                            <button class="btn btn-toggle sidenav-toggler">
                                <i class="gg-menu-left"></i>
                            </button>
                        </div>
                        <button class="topbar-toggler more">
                            <i class="gg-more-vertical-alt"></i>
                        </button>
                    </div>
                    <!-- End Logo Header -->
                </div>
                <!-- Navbar Header -->
                <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
                    <div class="container-fluid">
                        <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                            <li class="nav-item topbar-user dropdown hidden-caret">
                                <a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#"
                                    aria-expanded="false">
                                    <div class="avatar-sm">
                                        <img src="~/assets/img/default.png" alt="..."
                                            class="avatar-img rounded-circle" />
                                    </div>
                                    <span class="profile-username">
                                        <span class="fw-bold">@User.Identity.Name</span>
                                    </span>
                                </a>
                                <ul class="dropdown-menu dropdown-user animated fadeIn">
                                    <div class="dropdown-user-scroll scrollbar-outer">
                                        <li>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" asp-controller="Auth"
                                                asp-action="Logout">Logout</a>
                                        </li>
                                    </div>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!-- End Navbar -->
            </div>

            <div class="container">
                <div class="page-inner">
                    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
                        <div>
                            <h3 class="fw-bold mb-3">@ViewData["Header"]</h3>
                        </div>
                    </div>

                    <div class="row">
                        @RenderBody()
                    </div>
                </div>
            </div>

            <footer class="footer"></footer>
        </div>
</body>

</html>
