@{
    ViewData["Title"] = "Info Bahan";
    ViewData["Header"] = "Info Bahan";
    if (TempData["SuccessCreate"] != null || TempData["SuccessEdit"] != null)
    {
        <script>
            swal({
            title: "Success!",
            text: "",
            type: "success",
            buttons: {
            confirm: {
            className: "btn btn-success",
            },
            },
            });
        </script>
    }
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
@model List<Bahan>
<div class="container">
    <div class="row">
        <div class="mb-3">
            <div class="d-flex justify-content-start">
                <a asp-controller="bahan" asp-action="tambah" class="btn btn-primary rounded">
                    <i class="fa fa-plus"></i>
                    Tambah Bahan
                </a> 
                <a asp-controller="bahan" asp-action="ImportBahan" class="btn btn-secondary rounded ms-2">
                    <i class="fa-solid fa-upload me-2"></i>
                    Import
                </a>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex">
                            <button class="btn-export rounded-start-2" id="exports" type="button">
                                Export
                            </button>
                            <a asp-controller="bahan" asp-action="index" class="btn-export rounded-end-2 d-flex align-items-center">
                                <i class="fa-solid fa-arrows-rotate"></i>
                            </a>
                        </div>
                        <div>
                            <ul class="rounded modal-export" id="modal">
                                <a asp-controller="bahan" asp-action="GenerateExcel">
                                    <li class="py-1 modal-sub">Excel</li>
                                </a>
                                <a asp-controller="bahan" asp-action="GeneratePdf">
                                    <li class="py-1 modal-sub">Pdf</li>
                                </a>
                            </ul>
                        </div>
                        <form asp-action="Index" method="get">
                            <div class="d-flex justify-content-start">
                                <input type="text"
                                       name="input"
                                       class="form-control input" />
                                <button type="submit" class="bg-primary btn-search">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Harga</th>
                                    <th scope="col">Jumlah</th>
                                    <th style="width: 10%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Count > 0)
                                {
                                    @foreach (var i in Model)
                                    {
                                        <tr>
                                            <td>@i.nama</td>
                                            <td>@i.harga</td>
                                            <td>@i.jumlah</td>
                                            <td>
                                                <div class="form-button-action">
                                                    <a href="/bahan/edit/@i.Id" class="btn btn-link btn-primary btn-lg">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    <button type="button" class="btn btn-link btn-danger" onclick="deleteBahan(@i.Id)">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="4" class="text-center">Tidak ada data</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    @if (pager.TotalPages > 0)
                    {
                        <ul class="pagination">
                            @if (pager.CurrentPage > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-controller="Bahan" asp-action="Index" asp-route-pg="1">First</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" asp-controller="Bahan" asp-action="Index" asp-route-pg="@(pager.CurrentPage - 1)">Previous</a>
                                </li>
                            }
                            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                            {
                                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                                    <a class="page-link @(pge == pager.CurrentPage ? "text-white" : "")" asp-controller="Bahan" asp-action="Index" asp-route-pg="@pge">@pge</a>
                                </li>
                            }
                            @if (pager.CurrentPage < pager.TotalPages)
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-controller="Bahan" asp-action="Index" asp-route-pg="@(pager.CurrentPage + 1)">Next</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" asp-controller="Bahan" asp-action="Index" asp-route-pg="@(pager.TotalPages)">Last</a>
                                </li>
                            }
                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
        document.addEventListener("DOMContentLoaded", () => {
        const modal = document.getElementById("modal");
        const exports = document.getElementById("exports");

        exports.addEventListener("click", () => {
            if (modal.style.display === "block") {
              modal.style.display = "none";
              modal.style.opacity = "1";
            } else {
              modal.style.display = "block";
              modal.style.opacity = "1";
            }
        });

        document.addEventListener("click", (event) => {
            if (!modal.contains(event.target) && event.target !== exports) {
              if (modal.style.display === "block") {
                modal.style.display = "none";
                modal.style.opacity = "1";
              }
            }
        });
    });
    function deleteBahan(id) {
        swal({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            buttons: {
                cancel: {
                    visible: true,
                    text: "No, cancel!",
                    className: "btn btn-danger",
                },
                confirm: {
                    text: "Yes, delete it!",
                    className: "btn btn-success",
                },
            },
        }).then((willDelete) => {
            if (willDelete) {
                // Lakukan permintaan AJAX untuk menghapus data
                $.ajax({
                    url: `https://localhost:7226/bahan/delete/${id}`, // URL endpoint dengan ID
                    type: "DELETE",
                    success: function (response) {
                        // Jika berhasil
                        window.location.reload();
                        swal("Deleted!", "Your data has been deleted.", {
                            icon: "success",
                            buttons: {
                                confirm: {
                                    className: "btn btn-success",
                                },
                            },
                        });
                    },
                    error: function (xhr, status, error) {
                        // Jika terjadi error
                        swal("Error!", `Failed to delete data: ${xhr.responseText || error}`, {
                            icon: "error",
                            buttons: {
                                confirm: {
                                    className: "btn btn-danger",
                                },
                            },
                        });
                    },
                });
            } else {
                swal("Cancelled", "Your data is safe!", {
                    icon: "info",
                    buttons: {
                        confirm: {
                            className: "btn btn-primary",
                        },
                    },
                });
            }
        });
    }
</script>
